button{
  width: 150px;
}

.table{
  width: 50%;
}

.add-filter{
  display: flex; 
  align-items: center; 
  gap: 10px
}

.table-container{
  display: flex; 
  justify-content: left; 
  align-items: center;
  margin-top: 40px;
}